<html>
    <h1>Booking Appointment App</h1>
    <body>
        <form onsubmit="sendInfo(event)">
<label for="username"> Username:</label><br>
<input type="text" id="username" name="username">
<label for="phone">Phone:</label><br>
<input type="tel" id="phone" name="phone"><br>
<label for="email"> Email:</label><br>
<input type="text" name="email" id="email">
<button type="submit">submit</button>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/index.js"></script>
    </body>
</html>
